<h1>About Bike Berlin</h1>
<p>This is going to be a webpage, where you can find information about the Bike Berlin store.</p>
<p>The place to be, if you feel like getting a new bike for yourself, which is used but renewed totally and we will make you a good price.</p>