<h1>Contact Bike Berlin</h1>
<p>You will find us close to the train station Kottbusser Tor at the heart of Berlin.</p>
<p>If you have any questions, feel free to contact us via mail at bike dash berlin dot com</p>